.box-fit {
  padding: 100px 0px;
}
.item {
  padding: 30px;
  color: #fff;
  font-weight: 600;
}
.texto-fit {
  padding: 100px 0px;
  line-height: 50px;
  width: 70%;
  margin: auto;
}
.nav {
  background: #fff;
  opacity: 0.9;
  font-size: 14px !important;
  border-bottom: 1px solid #eaeaea;
}
.image-modal {
  width: 30%;
  padding: 5px 15px 0px 0px;
  float: left;
}
.modal-dialog {
  max-width: 800px !important;
}
.slide {
  width: 100%;
}
